src/main/resources/data/xsd/skills.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="tableType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="setType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="abnormalInstant" />
							<xs:enumeration value="abnormalLvl" />
							<xs:enumeration value="abnormalTime" />
							<xs:enumeration value="abnormalType" />
							<xs:enumeration value="abnormalVisualEffect" />
							<xs:enumeration value="activateRate" />
							<xs:enumeration value="affectLimit" />
							<xs:enumeration value="affectObject" />
							<xs:enumeration value="affectRange" />
							<xs:enumeration value="affectScope" />
							<xs:enumeration value="afterEffectId" />
							<xs:enumeration value="attributePower" />
							<xs:enumeration value="attributeType" />
							<xs:enumeration value="basicProperty" />
							<xs:enumeration value="blockedInOlympiad" />
							<xs:enumeration value="buffProtectLevel" />
							<xs:enumeration value="capsuled_items_skill" />
							<xs:enumeration value="castRange" />
							<xs:enumeration value="channelingSkillId" />
							<xs:enumeration value="channelingTickInterval" />
							<xs:enumeration value="chargeConsume" />
							<xs:enumeration value="coolTime" />
							<xs:enumeration value="despawnDelay" />
							<xs:enumeration value="displayId" />
							<xs:enumeration value="dmgDirectlyToHp" />
							<xs:enumeration value="effectPoint" />
							<xs:enumeration value="effectRange" />
							<xs:enumeration value="excludedFromCheck" />
							<xs:enumeration value="fanRange" />
							<xs:enumeration value="hitTime" />
							<xs:enumeration value="hitCancelTime" />
							<xs:enumeration value="hpConsume" />
							<xs:enumeration value="icon" />
							<xs:enumeration value="irreplaceableBuff" />
							<xs:enumeration value="isDebuff" />
							<xs:enumeration value="isMagic" />
							<xs:enumeration value="isOutpost" />
							<xs:enumeration value="isRecoveryHerb" />
							<xs:enumeration value="isSuicideAttack" />
							<xs:enumeration value="itemConsumeCount" />
							<xs:enumeration value="itemConsumeId" />
							<xs:enumeration value="itemConsumeSteps" />
							<xs:enumeration value="lvlBonusRate" />
							<xs:enumeration value="magicLvl" />
							<xs:enumeration value="minPledgeClass" />
							<xs:enumeration value="mpConsume1" />
							<xs:enumeration value="mpConsume2" />
							<xs:enumeration value="mpPerChanneling" />
							<xs:enumeration value="nextActionAttack" />
							<xs:enumeration value="operateType" />
							<xs:enumeration value="overHit" />
							<xs:enumeration value="resetQuest" />
							<xs:enumeration value="reuseDelay" />
							<xs:enumeration value="reuseDelayLock" />
							<xs:enumeration value="reuseDelayType" />
							<xs:enumeration value="rideState" />
							<xs:enumeration value="simultaneousCast" />
							<xs:enumeration value="soulMaxConsumeCount" />
							<xs:enumeration value="stayAfterDeath" />
							<xs:enumeration value="stayOnSubclassChange" />
							<xs:enumeration value="targetType" />
							<xs:enumeration value="trait" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute type="xs:string" name="val" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="enchantType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" />
				<xs:attribute type="xs:string" name="val" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="usingType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="kind" />
				<xs:attribute type="xs:string" name="slot" />
				<xs:attribute type="xs:string" name="weaponChange" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="playerType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="Charges" />
				<xs:attribute type="xs:string" name="canSummon" />
				<xs:attribute type="xs:string" name="canResurrect" />
				<xs:attribute type="xs:string" name="canSweep" />
				<xs:attribute type="xs:string" name="canSummonSiegeGolem" />
				<xs:attribute type="xs:string" name="companion" />
				<xs:attribute type="xs:byte" name="invSize" />
				<xs:attribute type="xs:byte" name="weight" />
				<xs:attribute type="xs:byte" name="hp" />
				<xs:attribute type="xs:byte" name="cp" />
				<xs:attribute type="xs:byte" name="mp" />
				<xs:attribute type="xs:boolean" name="hasServitor" />
				<xs:attribute type="xs:byte" name="souls" />
				<xs:attribute type="xs:string" name="canTransform" />
				<xs:attribute type="xs:string" name="canUntransform" />
				<xs:attribute type="xs:byte" name="transformationId" />
				<xs:attribute type="xs:string" name="canCreateBase" />
				<xs:attribute type="xs:string" name="canCreateOutpost" />
				<xs:attribute type="xs:string" name="canTakeCastle" />
				<xs:attribute type="xs:string" name="canTakeFort" />
				<xs:attribute type="xs:byte" name="canRefuelAirship" />
				<xs:attribute type="xs:string" name="canEscape" />
				<xs:attribute type="xs:string" name="active_effect_id_lvl" />
				<xs:attribute type="xs:string" name="active_skill_id" />
				<xs:attribute type="xs:string" name="active_skill_id_lvl" />
				<xs:attribute type="xs:string" name="checkAbnormal" />
				<xs:attribute type="xs:byte" name="SiegeZone" />
				<xs:attribute type="xs:string" name="callPc" />
				<xs:attribute type="xs:byte" name="clanHall" />
				<xs:attribute type="xs:byte" name="sex" />
				<xs:attribute type="xs:string" name="npcIdRadius" />
				<xs:attribute type="xs:string" name="landingZone" />
				<xs:attribute type="xs:string" name="insideZoneId" />
				<xs:attribute type="xs:string" name="chaotic" />
				<xs:attribute type="xs:string" name="resting" />
				<xs:attribute type="xs:string" name="standing" />
				<xs:attribute type="xs:string" name="moving" />
				<xs:attribute type="xs:string" name="running" />
				<xs:attribute type="xs:string" name="flying" />
				<xs:attribute type="xs:string" name="front" />
				<xs:attribute type="xs:string" name="behind" />
				<xs:attribute type="xs:string" name="levelRange" />
				<xs:attribute type="xs:byte" name="instanceId" />
				<xs:attribute type="xs:string" name="flyMounted" />
				<xs:attribute type="xs:string" name="active_effect_id" />
				<xs:attribute type="xs:string" name="agathionId" />
				<xs:attribute type="xs:byte" name="fort" />
				<xs:attribute type="xs:byte" name="level" />
				<xs:attribute type="xs:string" name="class_id_restriction" />
				<xs:attribute type="xs:short" name="siegeZone" />
				<xs:attribute type="xs:byte" name="siegeSide" />
				<xs:attribute type="xs:string" name="categoryType" />
				<xs:attribute type="xs:boolean" name="hasAgathion" />
				<xs:attribute type="xs:int" name="agathionEnergy" />
				<xs:attribute type="xs:string" name="existNpc" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="targetType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:short" name="mindistance" />
				<xs:attribute type="xs:byte" name="abnormal" />
				<xs:attribute type="xs:short" name="active_effect_id" />
				<xs:attribute type="xs:short" name="active_skill_id" />
				<xs:attribute type="xs:string" name="checkAbnormal" />
				<xs:attribute type="xs:string" name="class_id_restriction" />
				<xs:attribute type="xs:string" name="myParty" />
				<xs:attribute type="xs:string" name="race" />
				<xs:attribute type="xs:string" name="npcId" />
				<xs:attribute type="xs:string" name="npcType" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="notType">
		<xs:sequence>
			<xs:element name="using" minOccurs="0" type="usingType" />
			<xs:element name="player" minOccurs="0" type="playerType" />
			<xs:element name="target" minOccurs="0" type="targetType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gameType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="night" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="andType">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="using" type="usingType" />
			<xs:element name="player" type="playerType" />
			<xs:element name="target" type="targetType" />
			<xs:element name="not" type="notType" />
			<xs:element name="game" type="gameType" />
			<xs:element name="or" minOccurs="0" type="andType" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="condType">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="using" type="usingType" />
			<xs:element name="and" type="andType" />
			<xs:element name="not" type="notType" />
			<xs:element name="player" type="playerType" />
			<xs:element name="target" type="targetType" />
		</xs:choice>
		<xs:attribute type="xs:short" name="msgId" />
		<xs:attribute type="xs:byte" name="addName" />
		<xs:attribute type="xs:string" name="msg" />
	</xs:complexType>
	<xs:simpleType name="operation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DIFF" />
			<xs:enumeration value="PER" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="paramType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="block">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="HP" />
							<xs:enumeration value="MP" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute type="xs:string" name="pAtk" />
				<xs:attribute type="xs:string" name="mAtk" />
				<xs:attribute type="xs:string" name="pDef" />
				<xs:attribute type="xs:string" name="mDef" />
				<xs:attribute type="xs:string" name="maxHp" />
				<xs:attribute type="xs:string" name="maxMp" />
				<xs:attribute type="xs:string" name="critRate" />
				<xs:attribute type="xs:string" name="pAtkSpd" />
				<xs:attribute type="xs:string" name="mAtkSpd" />
				<xs:attribute type="xs:string" name="chance" />
				<xs:attribute type="xs:string" name="power" />
				<xs:attribute type="xs:string" name="ticks" />
				<xs:attribute type="xs:string" name="energy" />
				<xs:attribute type="operation" name="type" />
				<xs:attribute type="operation" name="mode" />
				<xs:attribute type="xs:boolean" name="heal" />
				<xs:attribute type="xs:boolean" name="critical" />
				<xs:attribute type="xs:string" name="criticalChance" />
				<xs:attribute type="xs:int" name="criticalLimit" />
				<xs:attribute type="xs:int" name="blowChance" />
				<xs:attribute type="xs:string" name="drain" />
				<xs:attribute type="xs:byte" name="resPower" />
				<xs:attribute type="xs:byte" name="resRecovery" />
				<xs:attribute type="xs:string" name="charge" />
				<xs:attribute type="xs:byte" name="cubicId" />
				<xs:attribute type="xs:byte" name="cubicDelay" />
				<xs:attribute type="xs:short" name="cubicDuration" />
				<xs:attribute type="xs:short" name="cubicMaxCount" />
				<xs:attribute type="xs:byte" name="cubicSkillChance" />
				<xs:attribute type="xs:string" name="cubicPower" />
				<xs:attribute type="xs:string" name="npcId" />
				<xs:attribute type="xs:string" name="consumeItemId" />
				<xs:attribute type="xs:string" name="consumeItemCount" />
				<xs:attribute type="xs:string" name="lifeTime" />
				<xs:attribute type="xs:string" name="dispel" />
				<xs:attribute type="xs:string" name="expMultiplier" />
				<xs:attribute type="xs:string" name="halfLethal" />
				<xs:attribute type="xs:byte" name="cubicSkill1Chance" />
				<xs:attribute type="xs:byte" name="cubicSkill2Chance" />
				<xs:attribute type="xs:byte" name="cubicSkill3Chance" />
				<xs:attribute type="xs:string" name="BUG_WEAKNESS" />
				<xs:attribute type="xs:string" name="BEAST_WEAKNESS" />
				<xs:attribute type="xs:string" name="ANIMAL_WEAKNESS" />
				<xs:attribute type="xs:string" name="DRAGON_WEAKNESS" />
				<xs:attribute type="xs:string" name="PLANT_WEAKNESS" />
				<xs:attribute type="xs:string" name="ROOT_PHYSICALLY" />
				<xs:attribute type="xs:string" name="HOLD" />
				<xs:attribute type="xs:string" name="BOW" />
				<xs:attribute type="xs:string" name="CROSSBOW" />
				<xs:attribute type="xs:string" name="SLEEP" />
				<xs:attribute type="xs:string" name="POISON" />
				<xs:attribute type="xs:string" name="cubicCount" />
				<xs:attribute type="xs:string" name="SHOCK" />
				<xs:attribute type="xs:string" name="ignoreShieldDefence" />
				<xs:attribute type="xs:string" name="POLE" />
				<xs:attribute type="xs:string" name="PARALYZE" />
				<xs:attribute type="xs:string" name="isAdvanced" />
				<xs:attribute type="xs:string" name="DERANGEMENT" />
				<xs:attribute type="xs:string" name="BLEED" />
				<xs:attribute type="xs:string" name="slot" />
				<xs:attribute type="xs:string" name="rate" />
				<xs:attribute type="xs:string" name="max" />
				<xs:attribute type="xs:string" name="CONSTRUCT_WEAKNESS" />
				<xs:attribute type="xs:string" name="GIANT_WEAKNESS" />
				<xs:attribute type="xs:string" name="SWORD" />
				<xs:attribute type="xs:string" name="BLUNT" />
				<xs:attribute type="xs:string" name="DAGGER" />
				<xs:attribute type="xs:string" name="DUAL" />
				<xs:attribute type="xs:string" name="DUALFIST" />
				<xs:attribute type="xs:string" name="ANCIENTSWORD" />
				<xs:attribute type="xs:string" name="RAPIER" />
				<xs:attribute type="xs:string" name="DUALDAGGER" />
				<xs:attribute type="xs:string" name="fullLethal" />
				<xs:attribute type="xs:string" name="attackerType" />
				<xs:attribute type="xs:byte" name="minAttackerLevel" />
				<xs:attribute type="xs:byte" name="maxAttackerLevel" />
				<xs:attribute type="xs:boolean" name="isCritical" />
				<xs:attribute type="xs:string" name="minDamage" />
				<xs:attribute type="xs:short" name="castSkillId" />
				<xs:attribute type="xs:byte" name="blockedActions" />
				<xs:attribute type="xs:string" name="skillId" />
				<xs:attribute type="xs:string" name="skillLevel" />
				<xs:attribute type="xs:string" name="allowWeapons" />
				<xs:attribute type="xs:string" name="targetType" />
				<xs:attribute type="xs:byte" name="npcCount" />
				<xs:attribute type="xs:string" name="expNeeded" />
				<xs:attribute type="xs:string" name="itemId" />
				<xs:attribute type="xs:string" name="itemCount" />
				<xs:attribute type="xs:short" name="id" />
				<xs:attribute type="xs:string" name="amount" />
				<xs:attribute type="xs:int" name="despawnDelay" />
				<xs:attribute type="xs:string" name="isSummonSpawn" />
				<xs:attribute type="xs:string" name="escapeType" />
				<xs:attribute type="xs:string" name="slots" />
				<xs:attribute type="xs:string" name="value" />
				<xs:attribute type="xs:string" name="sp" />
				<xs:attribute type="xs:string" name="x" />
				<xs:attribute type="xs:string" name="y" />
				<xs:attribute type="xs:string" name="z" />
				<xs:attribute type="xs:string" name="grade" />
				<xs:attribute type="xs:byte" name="VALAKAS" />
				<xs:attribute type="xs:string" name="isItem" />
				<xs:attribute type="xs:byte" name="skillLvl" />
				<xs:attribute type="xs:byte" name="GUST" />
				<xs:attribute type="xs:byte" name="BOSS" />
				<xs:attribute type="xs:byte" name="PHYSICAL_BLOCKADE" />
				<xs:attribute type="xs:string" name="canKill" />
				<xs:attribute type="xs:string" name="TURN_STONE" />
				<xs:attribute type="xs:byte" name="FIST" />
				<xs:attribute type="xs:byte" name="randomOffset" />
				<xs:attribute type="xs:short" name="skillId1" />
				<xs:attribute type="xs:short" name="skillId2" />
				<xs:attribute type="xs:short" name="skillId3" />
				<xs:attribute type="xs:string" name="time" />
				<xs:attribute type="xs:string" name="flyRadius" />
				<xs:attribute type="xs:int" name="flyCourse" />
				<xs:attribute type="xs:string" name="normal" />
				<xs:attribute type="xs:string" name="ride" />
				<xs:attribute type="xs:string" name="wyvern" />
				<xs:attribute type="xs:string" name="shieldDefensePercent" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="statType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="mAtk" />
			<xs:enumeration value="mDef" />
			<xs:enumeration value="pAtk" />
			<xs:enumeration value="pDef" />
			<xs:enumeration value="sDef" />
			<xs:enumeration value="mAtk" />
			<xs:enumeration value="pAtkAngle" />
			<xs:enumeration value="pAtkRange" />
			<xs:enumeration value="cancel" />
			<xs:enumeration value="pAtkSpd" />
			<xs:enumeration value="critRate" />
			<xs:enumeration value="critRatePos" />
			<xs:enumeration value="critDmg" />
			<xs:enumeration value="critDmgPos" />
			<xs:enumeration value="critDmgAdd" />
			<xs:enumeration value="rShld" />
			<xs:enumeration value="rEvas" />
			<xs:enumeration value="runSpd" />
			<xs:enumeration value="reflectDam" />
			<xs:enumeration value="defCritRate" />
			<xs:enumeration value="cancelVuln" />
			<xs:enumeration value="maxHp" />
			<xs:enumeration value="pSkillEvas" />
			<xs:enumeration value="regMp" />
			<xs:enumeration value="regHp" />
			<xs:enumeration value="mReuse" />
			<xs:enumeration value="mAtkSpd" />
			<xs:enumeration value="defCritDamage" />
			<xs:enumeration value="absorbDamMana" />
			<xs:enumeration value="manaCharge" />
			<xs:enumeration value="damageZoneVuln" />
			<xs:enumeration value="healEffect" />
			<xs:enumeration value="weightLimit" />
			<xs:enumeration value="transDam" />
			<xs:enumeration value="physicalMpConsumeRate" />
			<xs:enumeration value="blowRate" />
			<xs:enumeration value="reduceExpLostByPvp" />
			<xs:enumeration value="reduceExpLostByMob" />
			<xs:enumeration value="reduceExpLostByRaid" />
			<xs:enumeration value="reduceDeathPenaltyByPvp" />
			<xs:enumeration value="reduceDeathPenaltyByMob" />
			<xs:enumeration value="reduceDeathPenaltyByRaid" />
			<xs:enumeration value="breath" />
			<xs:enumeration value="pvpMagicalDmg" />
			<xs:enumeration value="transDamToPlayer" />
			<xs:enumeration value="vengeancePdam" />
			<xs:enumeration value="physicalSkillPower" />
			<xs:enumeration value="vengeanceMdam" />
			<xs:enumeration value="maxSouls" />
			<xs:enumeration value="bowMpConsumeRate" />
			<xs:enumeration value="fishingExpertise" />
			<xs:enumeration value="mCritPower" />
			<xs:enumeration value="maxRecoverableCp" />
			<xs:enumeration value="maxRecoverableHp" />
			<xs:enumeration value="whLimit" />
			<xs:enumeration value="freightLimit" />
			<xs:enumeration value="dwarfRecipeLimit" />
			<xs:enumeration value="commonRecipeLimit" />
			<xs:enumeration value="fall" />
			<xs:enumeration value="STR" />
			<xs:enumeration value="INT" />
			<xs:enumeration value="CON" />
			<xs:enumeration value="MEN" />
			<xs:enumeration value="WIT" />
			<xs:enumeration value="DEX" />
			<xs:enumeration value="waterPower" />
			<xs:enumeration value="windPower" />
			<xs:enumeration value="firePower" />
			<xs:enumeration value="bonusSp" />
			<xs:enumeration value="defCritRateAdd" />
			<xs:enumeration value="bonusExp" />
			<xs:enumeration value="pvePhysDmg" />
			<xs:enumeration value="pvePhysSkillsDmg" />
			<xs:enumeration value="pveBowDmg" />
			<xs:enumeration value="pveBowSkillsDmg" />
			<xs:enumeration value="pveMagicalDmg" />
			<xs:enumeration value="magicalMpConsumeRate" />
			<xs:enumeration value="danceMpConsumeRate" />
			<xs:enumeration value="mCritRate" />
			<xs:enumeration value="maxRecoverableMp" />
			<xs:enumeration value="manaShield" />
			<xs:enumeration value="pvpMagicalDef" />
			<xs:enumeration value="pvpPhysSkillsDef" />
			<xs:enumeration value="pvpPhysDef" />
			<xs:enumeration value="absorbDam" />
			<xs:enumeration value="shieldDefAngle" />
			<xs:enumeration value="reflectSkillMagic" />
			<xs:enumeration value="reflectSkillPhysic" />
			<xs:enumeration value="skillCritical" />
			<xs:enumeration value="skillCriticalProbability" />
			<xs:enumeration value="privateBuyLimit" />
			<xs:enumeration value="privateSellLimit" />
			<xs:enumeration value="inventoryLimit" />
			<xs:enumeration value="enlargeAbnormalSlot" />
			<xs:enumeration value="pReuse" />
			<xs:enumeration value="dReuse" />
			<xs:enumeration value="vitalityConsumeRate" />
			<xs:enumeration value="weightPenalty" />
			<xs:enumeration value="darkPower" />
			<xs:enumeration value="defCritDamageAdd" />
			<xs:enumeration value="debuffVuln" />
			<xs:enumeration value="atkCountMax" />
			<xs:enumeration value="regCp" />
			<xs:enumeration value="maxCp" />
			<xs:enumeration value="pvpPhysDmg" />
			<xs:enumeration value="pvpPhysSkillsDmg" />
			<xs:enumeration value="earthPower" />
			<xs:enumeration value="movementVuln" />
			<xs:enumeration value="accCombat" />
			<xs:enumeration value="darkRes" />
			<xs:enumeration value="earthRes" />
			<xs:enumeration value="fireRes" />
			<xs:enumeration value="holyPower" />
			<xs:enumeration value="holyRes" />
			<xs:enumeration value="maxMp" />
			<xs:enumeration value="waterRes" />
			<xs:enumeration value="windRes" />
			<xs:enumeration value="magicSuccRes" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="addType" mixed="true">
		<xs:all>
			<xs:element name="using" minOccurs="0" type="usingType" />
			<xs:element name="and" minOccurs="0" type="andType" />
			<xs:element name="not" minOccurs="0" type="notType" />
			<xs:element name="player" minOccurs="0" type="playerType" />
			<xs:element name="game" minOccurs="0" type="gameType" />
		</xs:all>
		<xs:attribute name="order" type="xs:byte" />
		<xs:attribute name="stat" use="required" type="statType" />
		<xs:attribute name="val" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="shareType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="order" type="xs:byte" />
				<xs:attribute name="stat" type="statType" />
				<xs:attribute type="xs:float" name="val" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="effectType" mixed="true">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="param" type="paramType" />
			<xs:element name="add" type="addType" />
			<xs:element name="mul" type="addType" />
			<xs:element name="sub" type="addType" />
			<xs:element name="set" type="addType" />
			<xs:element name="share" type="shareType" />
		</xs:choice>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="#effectname1" /> <!-- Frintezza's Songs -->
					<xs:enumeration value="AddHate" />
					<xs:enumeration value="AttackTrait" />
					<xs:enumeration value="Backstab" />
					<xs:enumeration value="Betray" />
					<xs:enumeration value="Blink" />
					<xs:enumeration value="BlockAction" />
					<xs:enumeration value="BlockBuff" />
					<xs:enumeration value="BlockChat" />
					<xs:enumeration value="BlockDamage" />
					<xs:enumeration value="BlockDebuff" />
					<xs:enumeration value="BlockParty" />
					<xs:enumeration value="BlockBuffSlot" />
					<xs:enumeration value="BlockResurrection" />
					<xs:enumeration value="Bluff" />
					<xs:enumeration value="BonusCountUp" />
					<xs:enumeration value="BonusTimeLimitUp" />
					<xs:enumeration value="Buff" />
					<xs:enumeration value="CallParty" />
					<xs:enumeration value="CallPc" />
					<xs:enumeration value="CallSkill" />
					<xs:enumeration value="ChangeFace" />
					<xs:enumeration value="ChangeFishingMastery" />
					<xs:enumeration value="ChangeHairColor" />
					<xs:enumeration value="ChangeHairStyle" />
					<xs:enumeration value="ClanGate" />
					<xs:enumeration value="Confuse" />
					<xs:enumeration value="ConsumeAgathionEnergy" />
					<xs:enumeration value="ConsumeBody" />
					<xs:enumeration value="ConsumeChameleonRest" />
					<xs:enumeration value="ConsumeFakeDeath" />
					<xs:enumeration value="ConsumeHp" />
					<xs:enumeration value="ConsumeMp" />
					<xs:enumeration value="ConsumeMpByLevel" />
					<xs:enumeration value="ConsumeRest" />
					<xs:enumeration value="ConvertItem" />
					<xs:enumeration value="Cp" />
					<xs:enumeration value="CrystalGradeModify" />
					<xs:enumeration value="CubicMastery" />
					<xs:enumeration value="DeathLink" />
					<xs:enumeration value="Debuff" />
					<xs:enumeration value="DefenceTrait" />
					<xs:enumeration value="DeleteHate" />
					<xs:enumeration value="DeleteHateOfMe" />
					<xs:enumeration value="DetectHiddenObjects" />
					<xs:enumeration value="Detection" />
					<xs:enumeration value="Disarm" />
					<xs:enumeration value="DispelAll" />
					<xs:enumeration value="DispelByCategory" />
					<xs:enumeration value="DispelBySlot" />
					<xs:enumeration value="DispelBySlotProbability" />
					<xs:enumeration value="EnableCloak" />
					<xs:enumeration value="EnergyAttack" />
					<xs:enumeration value="Escape" />
					<xs:enumeration value="FatalBlow" />
					<xs:enumeration value="Fear" />
					<xs:enumeration value="Fishing" />
					<xs:enumeration value="Flag" />
					<xs:enumeration value="FlySelf" />
					<xs:enumeration value="FocusEnergy" />
					<xs:enumeration value="FocusMaxEnergy" />
					<xs:enumeration value="FocusSouls" />
					<xs:enumeration value="FoodForPet" />
					<xs:enumeration value="GetAgro" />
					<xs:enumeration value="GiveSp" />
					<xs:enumeration value="Grow" />
					<xs:enumeration value="Harvesting" />
					<xs:enumeration value="HeadquarterCreate" />
					<xs:enumeration value="Heal" />
					<xs:enumeration value="Hide" />
					<xs:enumeration value="Hp" />
					<xs:enumeration value="HpDrain" />
					<xs:enumeration value="HpPerMax" />
					<xs:enumeration value="InstantAgathionEnergy" />
					<xs:enumeration value="InstantBetray" />
					<xs:enumeration value="InstantCallTargetParty" />
					<xs:enumeration value="InstantDespawn" />
					<xs:enumeration value="InstantDispelByName" />
					<xs:enumeration value="InstantDispelBySlotMyself" />
					<xs:enumeration value="InstantHpByLevelSelf" />
					<xs:enumeration value="InstantMagicalAttackOverHit" />
					<xs:enumeration value="InstantMpByLevelSelf" />
					<xs:enumeration value="Lethal" />
					<xs:enumeration value="Lucky" />
					<xs:enumeration value="MagicalAttack" />
					<xs:enumeration value="MagicalAttackByAbnormal" />
					<xs:enumeration value="MagicalAttackMp" />
					<xs:enumeration value="MagicalAttackRange" />
					<xs:enumeration value="MagicalSoulAttack" />
					<xs:enumeration value="ManaHealByLevel" />
					<xs:enumeration value="MaxCp" />
					<xs:enumeration value="MaxHp" />
					<xs:enumeration value="MaxMp" />
					<xs:enumeration value="Mp" />
					<xs:enumeration value="MpPerMax" />
					<xs:enumeration value="Mute" />
					<xs:enumeration value="NoblesseBless" />
					<xs:enumeration value="OpenChest" />
					<xs:enumeration value="Unsummon" />
					<xs:enumeration value="OpenCommonRecipeBook" />
					<xs:enumeration value="OpenDoor" />
					<xs:enumeration value="OpenDwarfRecipeBook" />
					<xs:enumeration value="OutpostCreate" />
					<xs:enumeration value="OutpostDestroy" />
					<xs:enumeration value="Paralyze" />
					<xs:enumeration value="Passive" />
					<xs:enumeration value="PhysicalAttack" />
					<xs:enumeration value="PhysicalAttackHpLink" />
					<xs:enumeration value="PhysicalAttackMute" />
					<xs:enumeration value="PhysicalMute" />
					<xs:enumeration value="PhysicalSoulAttack" />
					<xs:enumeration value="Pumping" />
					<xs:enumeration value="ProtectionBlessing" />
					<xs:enumeration value="RandomizeHate" />
					<xs:enumeration value="RebalanceHP" />
					<xs:enumeration value="Recovery" />
					<xs:enumeration value="Reeling" />
					<xs:enumeration value="RefuelAirship" />
					<xs:enumeration value="ResistSkill" />
					<xs:enumeration value="Restoration" />
					<xs:enumeration value="RestorationRandom" />
					<xs:enumeration value="Resurrection" />
					<xs:enumeration value="ResurrectionSpecial" />
					<xs:enumeration value="Root" />
					<xs:enumeration value="RunAway" />
					<xs:enumeration value="ServitorShare" />
					<xs:enumeration value="SetSkill" />
					<xs:enumeration value="SilentMove" />
					<xs:enumeration value="SingleTarget" />
					<xs:enumeration value="SkillTurning" />
					<xs:enumeration value="Sleep" />
					<xs:enumeration value="SoulBlow" />
					<xs:enumeration value="SoulEating" />
					<xs:enumeration value="Sow" />
					<xs:enumeration value="Spoil" />
					<xs:enumeration value="StaticDamage" />
					<xs:enumeration value="StealAbnormal" />
					<xs:enumeration value="Stun" />
					<xs:enumeration value="Summon" />
					<xs:enumeration value="SummonAgathion" />
					<xs:enumeration value="SummonCubic" />
					<xs:enumeration value="SummonNpc" />
					<xs:enumeration value="SummonPet" />
					<xs:enumeration value="SummonTrap" />
					<xs:enumeration value="Sweeper" />
					<xs:enumeration value="TakeCastle" />
					<xs:enumeration value="TakeFort" />
					<xs:enumeration value="TakeFortStart" />
					<xs:enumeration value="TakeTerritoryFlag" />
					<xs:enumeration value="TalismanSlot" />
					<xs:enumeration value="TargetCancel" />
					<xs:enumeration value="TargetMe" />
					<xs:enumeration value="TargetMeProbability" />
					<xs:enumeration value="Teleport" />
					<xs:enumeration value="TeleportToTarget" />
					<xs:enumeration value="ThrowUp" />
					<xs:enumeration value="TickHp" />
					<xs:enumeration value="TickHpFatal" />
					<xs:enumeration value="TickMp" />
					<xs:enumeration value="TransferDamage" />
					<xs:enumeration value="TransferHate" />
					<xs:enumeration value="TransformHangover" />
					<xs:enumeration value="Transformation" />
					<xs:enumeration value="TrapDetect" />
					<xs:enumeration value="TrapRemove" />
					<xs:enumeration value="TriggerSkillByAttack" />
					<xs:enumeration value="TriggerSkillByAvoid" />
					<xs:enumeration value="TriggerSkillByDamage" />
					<xs:enumeration value="TriggerSkillBySkill" />
					<xs:enumeration value="UnsummonAgathion" />
					<xs:enumeration value="VitalityPointUp" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute type="xs:string" name="ticks" />
		<xs:attribute type="xs:string" name="abnormalTime" />
		<xs:attribute type="xs:string" name="activationChance" />
		<xs:attribute type="xs:string" name="chanceType" />
		<xs:attribute type="xs:string" name="triggeredId" />
		<xs:attribute type="xs:string" name="triggeredLevel" />
		<xs:attribute type="xs:string" name="activationMinDamage" />
		<xs:attribute type="xs:short" name="activationSkills" />
	</xs:complexType>
	<xs:complexType name="effectsType" mixed="true">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="add" type="addType" />
			<xs:element name="mul" type="addType" />
			<xs:element name="sub" type="addType" />
			<xs:element name="basemul" type="addType" />
			<xs:element name="set" type="addType" />
			<xs:element name="effect" type="effectType" />
		</xs:choice>
		<xs:attribute type="xs:string" name="name" />
		<xs:attribute type="xs:byte" name="val" />
	</xs:complexType>
	<xs:complexType name="skillType">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="table" type="tableType" />
			<xs:element name="set" type="setType" />
			<xs:element name="enchant1" type="enchantType" />
			<xs:element name="enchant2" type="enchantType" />
			<xs:element name="enchant3" type="enchantType" />
			<xs:element name="enchant4" type="enchantType" />
			<xs:element name="enchant5" type="enchantType" />
			<xs:element name="enchant6" type="enchantType" />
			<xs:element name="enchant7" type="enchantType" />
			<xs:element name="enchant8" type="enchantType" />
			<xs:element name="cond" type="condType" />
			<xs:element name="effects" type="effectsType" />
			<xs:element name="enchant1Effects" type="effectsType" />
			<xs:element name="enchant2Effects" type="effectsType" />
			<xs:element name="enchant2pvpEffects" type="effectsType" />
			<xs:element name="enchant2pveEffects" type="effectsType" />
			<xs:element name="enchant8Effects" type="effectsType" />
			<xs:element name="enchant7Effects" type="effectsType" />
			<xs:element name="enchant3pvpEffects" type="effectsType" />
			<xs:element name="enchant3pveEffects" type="effectsType" />
			<xs:element name="enchant4pvpEffects" type="effectsType" />
			<xs:element name="enchant4pveEffects" type="effectsType" />
			<xs:element name="enchant7pvpEffects" type="effectsType" />
			<xs:element name="enchant7pveEffects" type="effectsType" />
			<xs:element name="enchant8pvpEffects" type="effectsType" />
			<xs:element name="enchant8pveEffects" type="effectsType" />
			<xs:element name="enchant3Effects" type="effectsType" />
			<xs:element name="enchant4Effects" type="effectsType" />
			<xs:element name="enchant5Effects" type="effectsType" />
			<xs:element name="enchant6Effects" type="effectsType" />
			<xs:element name="endEffects" type="effectsType" />
			<xs:element name="selfEffects" type="effectsType" />
			<xs:element name="enchant1selfEffects" type="effectsType" />
			<xs:element name="enchant2selfEffects" type="effectsType" />
			<xs:element name="enchant1cond" type="condType" />
			<xs:element name="enchant4selfEffects" type="effectsType" />
			<xs:element name="enchant8selfEffects" type="effectsType" />
			<xs:element name="pvpEffects" type="effectsType" />
			<xs:element name="pveEffects" type="effectsType" />
			<xs:element name="channelingEffects" type="effectsType" />
			<xs:element name="startEffects" type="effectsType" />
		</xs:choice>
		<xs:attribute type="xs:short" name="id" />
		<xs:attribute type="xs:byte" name="levels" />
		<xs:attribute type="xs:string" name="name" />
		<xs:attribute type="xs:byte" name="enchantGroup1" />
		<xs:attribute type="xs:byte" name="enchantGroup2" />
		<xs:attribute type="xs:byte" name="enchantGroup3" />
		<xs:attribute type="xs:byte" name="enchantGroup4" />
		<xs:attribute type="xs:byte" name="enchantGroup5" />
		<xs:attribute type="xs:byte" name="enchantGroup6" />
		<xs:attribute type="xs:byte" name="enchantGroup7" />
		<xs:attribute type="xs:byte" name="enchantGroup8" />
	</xs:complexType>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="skill" type="skillType" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>